@import "tailwindcss";

body {
  background-color: rgb(229, 241, 246);
  font-family: montserrat, sans-serif;
}

/* Regular (400) */
.montserrat-regular {
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  font-style: normal;
}

/* Medium (500) */
.montserrat-medium {
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  font-style: normal;
}

/* Semi-Bold (600) */
.montserrat-semibold {
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
  font-style: normal;
}

/* Bold (700) */
.montserrat-bold {
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  font-style: normal;
}

/* Extra-Bold (800) */
.montserrat-extrabold {
  font-family: "Montserrat", sans-serif;
  font-weight: 800;
  font-style: normal;
}

/* Light (300) */
.montserrat-light {
  font-family: "Montserrat", sans-serif;
  font-weight: 300;
  font-style: normal;
}

/* Extra-Light (200) */
.montserrat-extralight {
  font-family: "Montserrat", sans-serif;
  font-weight: 200;
  font-style: normal;
}

/* Thin (100) */
.montserrat-thin {
  font-family: "Montserrat", sans-serif;
  font-weight: 100;
  font-style: normal;
}

/* Black (900) */
.montserrat-black {
  font-family: "Montserrat", sans-serif;
  font-weight: 900;
  font-style: normal;
}
